# <!-- app/views/reviews/show.html.erb -->
<h1>Product Review</h1>
<p>Review by: <%= @review.user.username %></p>
<p>Rating: <%= @review.rating %></p>
<p>Review:</p>
<p><%= @review.content %></p>
<p>Published on: <%= @review.created_at.strftime('%B %d, %Y') %></p>
<%= link_to 'Back', reviews_path %>